<div class="center hero-unit">
  <h1>Sveiki prisijungę į DVD nuomą</h1>

  <h2>
    Tai yra DVD nuomos ir naujienu tinkalalapis. Prašome jaustis drąsiai ir naudotis mūsų paslaugomis. Paspaudę ant nuorodos po paveikliuku, galėsite pamatyti originalų filmo aprašyma ir įvertinimą.
  </h2>
<table align="center" width="500px" height="80%" cellpadding="5"> <tr>
<td>
<%= image_tag("hobbitII.jpg", :alt => "Hobbit II") %> <br><a href="http://www.imdb.com/title/tt1170358/?ref_=fn_al_tt_1">Hobitas: Smogo dikynė</a>  </br>
</td>
<td>
<%= image_tag("hobbitI.jpg", :alt => "Hobbit") %> <br><a href="http://www.imdb.com/title/tt0903624/?ref_=nv_sr_2">Hobitas: Netikėta kelionė</a>  </br>
</td>
<td>
 <%= image_tag("300.jpg", :alt => "300") %>
<br><a href="http://www.imdb.com/title/tt1253863/?ref_=nv_sr_1">300 Imperijos Gimimas</a></br>
</td>
</tr>
<tr>
<td>
<%= image_tag("lordI.jpg", :alt => "Lord of the ring") %>
<br> Žiedų valdovas: Žiedo brolija  </br>
</td>
<td>
<%= image_tag("LordII.jpg", :alt => "Lord of the ring") %>
<br> Žiedų valdovas: Du bokštai </br>
</td>
<td>
<%= image_tag("Boiler.jpg", :alt => "Boiler room") %>
<br> Katilinė </br>
</td>
</tr>
</table>

 </div>


